# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Production
dist/
build/
out/
.next/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.iml
*.iws
*.ipr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/

# Misc
*.pem
.cache/
.parcel-cache
